.App {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.nav-categories {
  background: blue;
  width: 40%;
  max-width: 150px;
  padding: 5px;
}

.main-container {
  padding-bottom: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 10px;
  padding: 10px;
  justify-content: space-evenly;
}

.btn-more-cats {
  max-width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: pink;
  color: blue;
  font-size: 2rem;
}
